/* Тело сайта */
body {
  display: grid;
  grid-template-rows: 7.5% 7.5% 75% 10%;
  grid-template-columns: 10% 80% 10%;
  grid-template-areas:
      "header header header"
      "sidebar navigation ads"
      "sidebar main ads"
      "footer footer footer";
  height: 100vh;
  width: 100vw;
  margin: 0;
}
/* Конец тела сайта */


/* Панель заголовка */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: header;
  background-color: #111;
  color:white;
  text-align: center;
}
/* Конец панели заголовка */


/* Панель навигации */
nav {
  grid-area: navigation;
  background-color: #222;
  
  display: flex;
  justify-content: space-around;
}

.contentButton {
  margin: 5px;
  width: calc(100vw / 3);
}
/* Конец панели навигации */


/* Боковая панель */
.sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: sidebar;
  background-color: #333;
  color:white;
  text-align: center;
}
/* Конец боковой панели */


/* Панель с контентом */
main {
  grid-area: main;
  background-color: #444;
  color:white;
  text-align: center;
}

.content {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

/* Галлерея */
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
  width: 100%;
}

.cell {
  background-color: rgba(21, 18, 18, 0.75);
  margin: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: background-color 1s ease;
}
.cell:hover {
  background-color: rgba(120, 3, 3, 0.75);
}

.computer {
  grid-column: span 2;
  grid-row: span 1;
}
.www {
  grid-column: span 1;
  grid-row: span 2;
}
.engine {
  grid-column: span 1;
  grid-row: span 1;
}
.code {
  grid-column: span 1;
  grid-row: span 2;
}
.ai {
  grid-column: span 1;
  grid-row: span 1;
}
.bin {
  grid-column: span 1;
  grid-row: span 1;
}
.mobile {
  grid-column: span 3;
  grid-row: span 1;
}
/* Конец галлереи */

#canvas {
  position: flex;
  width: 90%;
  height: 90%;
}
.dot {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
}

/* Конец панели с контентом */


/* Панель с рекламой */
.ads {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: ads;
  background-color: #555;
  color:white;
  text-align: center;
}
/* Конец панели с рекламой */


/* Подвал */
footer {
  grid-area: footer;
  background-color: #666;
  color: white;
  text-align: center;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.text {
color: white;
font-size: 20px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
white-space: nowrap;
}

.social-button {
display: inline-block;
position: relative;
cursor: pointer;
width: 3.125rem;
height: 3.125rem;
border: 0.125rem solid transparent;
padding: 0;
text-decoration: none;
text-align: center;
color: #fefefe;
font-size: 1.5625rem;
font-weight: normal;
line-height: 2em;
border-radius: 1.6875rem;
transition: all 0.5s ease;
margin-right: 0.25rem;
margin-bottom: 0.25rem;
}

.social-button:hover, .social-button:focus {
-webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
        transform: rotate(360deg);
}

 .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-youtube, .fa-instagram {
font-size: 25px;
}

 .social-button.facebook {
background: #3b5998;
}

 .social-button.facebook:hover,  .social-button.facebook:focus {
color: #3b5998;
background: #fefefe;
border-color: #3b5998;
}

 .social-button.twitter {
background: #55acee;
}

.social-button.twitter:hover,  .social-button.twitter:focus {
color: #55acee;
background: #fefefe;
border-color: #55acee;
}

 .social-button.linkedin {
background: #007bb5;
}

 .social-button.linkedin:hover,  .social-button.linkedin:focus {
color: #007bb5;
background: #fefefe;
border-color: #007bb5;
}

 .social-button.youtube {
background: #bb0000;
}

 .social-button.youtube:hover,  .social-button.youtube:focus {
color: #bb0000;
background: #fefefe;
border-color: #bb0000;
}

 .social-button.instagram {
background: #125688;
}

 .social-button.instagram:hover,  .social-button.instagram:focus {
color: #125688;
background: #fefefe;
border-color: #125688;
}
/* Конец подвала */


/* Медиа запрос для планшета */
@media screen and (max-width: 768px) {
  body {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 7.5% 7.5% 75% 10%;
    grid-template-areas:
        "header header"
        "navigation navigation"
        "sidebar main"
        "ads footer";
    height: 100vh;
    width: 100vw;
    margin: 0;
  }
}
/* Конец медиа запроса для планшета */


/* Медиа запрос для телефона */
@media screen and (max-width: 480px) {
  body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 7.5% 7.5% 60% 7.5% 7.5% 10%;
    grid-template-areas:
        "header"
        "navigation"
        "main"
        "sidebar"
        "ads"
        "footer";
    height: 100vh;
    width: 100vw;
    margin: 0;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }
  
  .cell {
    flex: 1 0 10%;
  }

  .formPanel {
    overflow: auto;
  }
  .formPanel h3 {
    margin-bottom: 10px;
    margin-top: 150px;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .form input,
  .form textarea {
    width: 100%;
    margin: 5px 0;
  }

  .social-button.twitter, .social-button.youtube{
    display: none;
  }
}
/* Конец медиа запроса для телефона */