@font-face {
    font-family: "Lobster-Regular";
    src:
         local("Lobster-Regular"), 
         url("fonts/Lobster-Regular.ttf") format("ttf");
}

@media print{
    body {
        background-color: white;
    }
}

@media screen and (max-width: 750px) {
    header > h1 > aside {
        visibility: hidden;
    }
}

header {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;

    height: 200px;

    background-color: bisque;
    padding: 10px;
    border-radius: 10px;
    border: aquamarine;
    border-style: ridge;
    box-sizing: content-box;

    z-index: 10;
}

header > h1{
    position: absolute;
    left: 75px;
}

.sticky {
    position: sticky;
    top: 0;
}
#krosh, #ezhik, #nyusha, #barash, #kopatich, #karich, #losyash, #sovunia, #pin, #bibi{
    height: 250px;
    width: 250px;
    margin: 10px;
    background-color: rgb(228, 206, 166);
    border-radius: 100%;
}

.box_pictures {
    display: table;
}

#porsche {
    float: left;
    margin:10px;
}

header > h1 > aside {
    position: absolute;
    top: 5px;
    right: -550px;

    padding-left: 0.5rem;
    margin-left: 0.5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px black;
    font-style: italic;
    color: cadetblue;
}

footer {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;

    background-color: bisque;
    padding: 10px;
    border-radius: 10px;
    border: aquamarine;
    border-style: ridge;
    box-sizing: content-box;
}

main {
    padding: 10px;
}

body {
    background-color: beige;
}

section {
    font-style: italic;
    font-family: 'Franklin Gothic Medium';
}

address {
    font-size: larger;
}

.format, .lists, .pictures, .urls, .forms, .map, .video, .flex {
    background-color:wheat;
    padding: 10px;
    border-radius: 10px;
    border: chocolate;
    border-style: ridge;
    box-sizing: content-box;
    margin: 10px;
}


h2 {
    text-align: center;
    font-size: 30px;
    font-family: "Lobster-Regular";
    font-weight: lighter;
    font-style: normal;
}

.phone {
    position: fixed;
    bottom: 25px;
    right: 25px;

    border: 3px rgb(15, 98, 10);
    border-radius: 100%;
    border-style:inherit;
    height: 75px;
    width: 75px;
    background-color: rgb(226, 224, 224);
}

.sex {
    display: inline-block;
    padding: 10px;
}

.registration{
    background-color:burlywood;
    border-radius: 10px;
    padding: 10px;
    margin-left: 400px;
    margin-right: 400px;
    text-align: center;
}

#some_button{
    display: block;
    margin: 10px auto;    
}

input {
    background-color: rgb(211, 175, 127);
    border-radius: 5px;
    margin: 0.5%;
}

input:focus{
    background-color: rgb(180, 149, 109);
}

input::placeholder{
    font-style: italic;
}
  
#menu {
    z-index: 2;
}
  
#menu-bar {
    width: 45px;
    height: 40px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
}
  
.bar {
    height: 5px;
    width: 100%;
    background-color: #DC052D;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}
  
#bar1 {
    transform: translateY(-4px);
}
  
#bar3 {
    transform: translateY(4px);
}
  
.nav {
    display: none;
    transition: 0.3s ease;
}
  
.nav ul {
    padding: 0 0;
    list-style: square;
}

.nav li {
    list-style: none;
    padding: 3px 0;
    text-decoration: underline black;
}
  
.nav li a {
    color: white;
    font-size: 12px;
    font-family: 'Courier New';
    text-decoration: none;
}
  
.nav li a:hover {
    font-weight: bold;
}
  
.menu-bg, #menu {
    top: 0;
    left: 0;
    position: absolute;
}
  
.menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 45px 0 20px 55px;
    background: radial-gradient(circle, rgb(185, 5, 5), rgb(115, 2, 2));
    border-radius: 50%;
    transition: 0.3s ease;
}
  
.change {
    display: block;
}
  
.bar:checked {
    background-color: white;
}
  
.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}
  
.change #bar2 {
    opacity: 0;
}
  
.change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}
  
.change-bg {
    width: 520px;
    height: 460px;
    transform: translate(-60%,-30%);
}

.flex_1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items:stretch;
}

.element_of_flex {
    background-color: #5d0818;
    border-style: dotted;
    margin: 5px;
    border-color: #DC052D;
    border-radius: 20px;
}

iframe{
    position: relative;
    left: calc(50% - 336px)
}

textarea::placeholder{
    font-style: italic;
}

a:active {
    color: blue;
}

a:visited {
    color:crimson;
}

:link:hover:not(.phone > a) {
    outline: dotted;
}